@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comic+Neue|Gotu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Slabo+27px|Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root{
  --myFont: 'Roboto';
  /*
      font-family: 'Slabo 27px', serif;
      font-family: 'Do Hyeon', sans-serif;
      font-family: 'Titillium Web', sans-serif;
      font-family: 'Lora', serif;
      font-family: 'Roboto', serif;
  */
}
/*Opacity for the heat map*/
.leaflet-heatmap-layer{
  opacity: .7;
}

body #fonts {
font-family: var(--myFont), sans-serif;
}

body #white {
  font-family: var(--myFont), sans-serif;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  box-shadow: 0 0 15px 10px #141414;
  padding: 10px;
  
  color:black;
}

body #temp {
  font-family: var(--myFont), cursive;
}

body #menu {
  z-index: 9999;
  position:fixed;
  margin-left: 15% !important;
  width: 70% !important;
  margin-right: 15% !important;
  
}

body #font {
  font-family: var(--myFont), sans-serif;
  color: black;
}

/*
    font-family: 'Slabo 27px', serif;
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Roboto', serif;
*/


/*
body {
  background-color: #7dcea0;
}*/
body {
  background: url('images/manta_background_new.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.ui.borderless.topmenu.menu {
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
}

.ui.inverted.segment {
  background-color: #437860;
}

.ui.container.borderless.topmenu.menu {
  background-color: white;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 0;
}

.ui.menu .item {
  color: black;
}