@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comic+Neue|Gotu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Slabo+27px|Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Acme&family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Overpass:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root{
  --myFont: 'Asap';
}
/*Opacity for the heat map*/
.leaflet-heatmap-layer{
  opacity: .7;
}

body #font {
font-family: var(--myFont), sans-serif;
font-size: medium;
}

body #white {
  font-family: var(--myFont), sans-serif;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  box-shadow: 0 0 15px 10px #4d5b66;
  padding: 10px;
  color:#4d5b66;
}

body #temp {
  font-family: var(--myFont), cursive;
}

body #menu {
  z-index: 9998;
  position:fixed;
  margin-left: 1% !important;
  margin-right: 1% !important;
  width: 98%;
  background: url('images/manta_background_dark.jpg');
  background-size: cover;
  background-attachment: fixed;
  box-shadow: none !important;
  border: none !important;
}
body #logo {
  z-index: 9999;
  position:fixed;
  padding: 0.5em 1em;
  background: transparent;
}

body #font {
  font-family: var(--myFont), sans-serif;
  color: black;
}

body #section-header {
  font-family: var(--myFont), sans-serif;
  color:#26669E; 
  font-weight: 600;
  font-size: x-large;
}

body #menu-text {
  font-family: 'Acme', sans-serif;
  font-size: x-large;
  color: #163e61;
  padding: 1em 2em; 
}

body #active-menu-text {
  font-family: 'Acme', sans-serif;
  font-size: x-large;
  color: #657886;
  padding: 1em 2em;
  text-shadow: -1px 1px 2px    #b1c1ccab,
    1px 1px 2px   #b1c1ccab,
		1px -1px 0   #b1c1ccab,
		-1px -1px 0   #b1c1ccab; 
}

body #main-title {
  font-family: 'Acme', sans-serif;
  font-size: 20pt;
  color: #163e61; 
}

body #page-title {
  font-family: 'Asap', sans-serif;
  font-size: xx-large;
  color: #4d5b66;
  text-shadow: -1px 1px 2px   #163e618f,
		1px 1px 2px   #163e618f,
		1px -1px 0   #163e618f,
		-1px -1px 0   #163e618f; 
}

body #footer {
  font-family: 'Asap', sans-serif;
  font-size: medium;
  color:  #cbd5dd; 
  text-shadow: -1px 1px 2px   #163e618f,
		1px 1px 2px   #163e618f,
		1px -1px 0   #163e61,
		-1px -1px 0   #163e61;
}


body {
  background: url('images/manta_background_dark.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.ui.borderless.topmenu.menu {
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
}

.ui.header.page-title {
  color: #4d5b66;
}

.ui.header {
  font-size: x-large;
}

.special {
	color:#26669E;
	font-weight:bold;
}

.ui.centered.card {
  background-color: rgba(255,255,255,0.9);
}

.ui.card {
  background-color: rgba(255,255,255,0.9);
  padding: 1em 2em;
}

.hovertext text {
font-size: 16px !important; 
font-family: ABeeZee, sans-serif;
color: #4d5b66 !important; 
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
