@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comic+Neue|Gotu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Slabo+27px|Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Acme&family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Overpass:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root{
  --myFont: 'Roboto';
}
/*Opacity for the heat map*/
.leaflet-heatmap-layer{
  opacity: .7;
}

body #fonts {
font-family: var(--myFont), sans-serif;
}

body #white {
  font-family: var(--myFont), sans-serif;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  box-shadow: 0 0 15px 10px #141414;
  padding: 10px;
  
  color:black;
}

body #temp {
  font-family: var(--myFont), cursive;
}

body #menu {
  z-index: 2;
  position:fixed;
  margin-left: 1% !important;
  margin-right: 1% !important;
  width: 98%;
  background: url('images/manta_background_new.jpg');
  background-size: cover;
  background-attachment: fixed;
}

body #font {
  font-family: var(--myFont), sans-serif;
  color: black;
}

body #menu-text {
  font-family: 'Acme', sans-serif;
  font-size: large;
  color: #163e61;
  padding-left: 2em; 
}

body #active-menu-text {
  font-family: 'Acme', sans-serif;
  font-size: large;
  color: #657886;
  padding-left: 1em; 
}

body #main-title {
  font-family: 'Acme', sans-serif;
  font-size: 20pt;
  color: #163e61; 
}

body #page-title {
  font-family: 'Asap', sans-serif;
  font-size: xx-large;
  color: #4d5b66; 
}

body #footer {
  font-family: 'Asap', sans-serif;
  font-size: medium;
  color: white; 
}


body {
  background: url('images/manta_background_new.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.ui.borderless.topmenu.menu {
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
}

.ui.header.page-title {
  color: #4d5b66;
}

.special {
	color:#26669E;
	font-weight:bold;
}

.ui.centered.card {
  background-color: rgba(255,255,255,0.9);
}

.ui.card {
  background-color: rgba(255,255,255,0.9);
  padding: 1em 2em;
}